body {
    font-family: sans-serif;
}
header a{
    text-decoration: none;
    background-color: white;
    border: 2px solid green;
    border-radius: 20px;
   padding: 3px;
}
header{
     background-color: antiquewhite;
    border: 2px solid green;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
}
h1{
   text-align: center; 
   font-family: Brush Script Std;
   border: 3px solid black;
   border-radius: 15px;
   background-color: bisque;
}
footer{
    background-color: blanchedalmond;
    border: 10px inset green;
}
nav a{
    margin:50px;
    color: aqua;

    text-decoration: none;
     }
     nav{
       background-color: green; 
       border-radius: 20px 0 20px 0;
       padding: 20px;
       text-align: center;
       border: 2px solid black;
     }
     .fa{
        background-color: darkorange;
        border: 5px solid gold;
        border-radius: 15px 0 15px 0;
     }
     p{
        font-size: 20px;
     }
